@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600;700&family=Press+Start+2P&family=Red+Hat+Mono:wght@300;400;500;600;700&display=swap');

/* https://coolors.co/00fbfa-ffcd03-b1b1b0-519afb-630211-dd092e-2ef801 */

*{
    box-sizing:border-box;
    font-family: 'IBM Plex Mono', monospace;
    
    font-size:max(12px,1.3vw);
}

/* ==== Componentes HTML ==== */
body,h2,p{
    margin:0;
}

body{
    background-color:#630211;
}
h1{
    font-family: 'Press Start 2P', cursive;
    font-size:2em;
}
h2{
    font-size:1.5em;
}
img{
    display:block;
    background-color:white;
}
input{
    width:60%;
}
button{
    background-color:#519AFB;
    color:white;
    border:0;
    border-radius: .4em;
}

/* ==== Características ==== */
.greenDisplay{
    background-color:#a0e7a0;
    padding:1vw;
}
.tag{
    color:white;
    border-radius:1vw;
    width:fit-content;
    padding:.5vw 1.3vw;
}
/* ==== Header ==== */
.header{
    background-color: #F5143A ;
    text-align:center;
    padding:.1vw;
}

/* ==== Pokedex ==== */
.pokedexContainer{
    width:100%;
    display:flex;
    justify-content:center;
}
.pokedex{
    display:flex;
    flex-wrap:wrap;
    gap:1vmax;
    padding:2vw;
    justify-content:center;
}
.pantalla-izquierda,.pantalla-derecha{
    background-color:#DD092E;
    padding:3vw 5vw;
    width:max(35vw,60vmin);
}
.pantalla-izquierda{
    border-radius: 10% 0 0 2%;
}
.pantalla-derecha{
    border-radius:0 10% 2% 0;
}

/*! ==== Botones superiores ===== */
.botones-superiores{
    display:flex;
    gap:10px;
    padding-bottom:1vw;
}
.boton-celeste-superior{
    border-radius: 50%;
    width:5vw;
    height:5vw;
    background-color:#00FBFA;
}
.hilera-botones-superior{
    display:flex;
    gap:5px;
}
.boton-rojo-superior,.boton-amarillo-superior,.boton-verde-superior{
    border-radius:50%;
    width:2.5vw;
    height:2.5vw;
}
.boton-rojo-superior{
    background-color: #B10623;
}
.boton-amarillo-superior{
    background-color:#FFCD03;
}
.boton-verde-superior{
    background-color:#2EF801;
}

/*! ==== Pantalla ==== */
.displayContainer{
    background-color:#B1B1B0;
    padding:max(1vh,6px);
    border-radius: 1vh;
}
.display-izquierda,.display-derecha{
    border:2px solid black; 
}
.display-izquierda{
    width:100%;
    border-radius:0 0 1vw 1vw;
}
.display-derecha{
    border-radius:1vw;
}
#name{
    text-align: center;
    text-transform: capitalize;
    font-weight: 700;
}
.nombre{
    border-radius:1vw 1vw 0 0;
    border:2px solid black;
    border-bottom: 0;
}
#info-displayed{
    display:none;
}
#info-displayed.active{
    display:block;
}

/* ==== Footer ====*/
.footer{
    position:fixed;
    bottom:0;
}

/*! ==== Entrada ====*/
.entrada{
    display:flex;
    justify-content: space-between;
}