@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Red+Hat+Mono:wght@300;400;500;600;700&display=swap');

/* https://coolors.co/00fbfa-ffcd03-b1b1b0-519afb-630211-dd092e-2ef801 */

*{
    box-sizing:border-box;
    font-family: 'Red Hat Mono', monospace;
}

/* ==== Componentes HTML ==== */

body{
    margin:0;
    background-color:#630211;
}
h1{
    font-family: 'Press Start 2P', cursive;
}

img{
    display:block;
    background-color:white;
}
/* ==== Header ==== */
.header{
    background-color: #F5143A ;
    text-align:center;
    padding:.1vw;
}

/* ==== Pokedex ==== */
.pokedexContainer{
    width:100vw;
    display:flex;
    justify-content:center;
}
.pokedex{
    display:flex;
    flex-wrap:wrap;
}
.pantalla-izquierda,.pantalla-derecha{
    background-color:#DD092E;
}

/*! ==== Botones superiores ===== */
.botones-superiores{
    display:flex;
    gap:10px;
}
.boton-celeste-superior{
    border-radius: 50%;
    width:5vw;
    height:5vw;
    background-color:#00FBFA;
}
.hilera-botones-superior{
    display:flex;
    gap:5px;
}
.boton-rojo-superior,.boton-amarillo-superior,.boton-verde-superior{
    border-radius:50%;
    width:2.5vw;
    height:2.5vw;
}
.boton-rojo-superior{
    background-color: #B10623;
}
.boton-amarillo-superior{
    background-color:#FFCD03;
}
.boton-verde-superior{
    background-color:#2EF801;
}



/*! ==== Pantalla ==== */
.displayContainer{
    background-color:#B1B1B0;
    padding:max(1vh,6px);
    border-radius: 1vh;
}
.display-izquierda,.display-derecha{
    border:2px solid black;
    border-radius:1vh;
    width:max(35vw,200px);
    height:max(35vw,200px)
}
.display-derecha{
    background-color:#2EF801;
}

/* ==== Footer ====*/
.footer{
    position:fixed;
    bottom:0;
}